[Unit]
Description=An open-source TCG Software Stack implementation, created and released by IBM.
Requires=infineon-tpm-hack.service
After=local-fs.target network-online.target infineon-tpm-hack.service

[Service]
Type=oneshot
ExecStart=/usr/lib/trousers/trousers start
ExecStop=/usr/lib/trousers/trousers stop
TimeoutSec=0
StandardOutput=tty
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
